[submodule "fracessa/third_party/eigen"]
	path = fracessa/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "fracessa/third_party/spdlog"]
	path = fracessa/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fracessa/third_party/argparse"]
	path = fracessa/third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "fracessa/third_party/boost"]
	path = fracessa/third_party/boost
	url = https://github.com/boostorg/boost.git
